<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <%= stylesheet_tag 'application' %>
    <title>Application</title>
  </head>
  <body>
    <%= yield %>
  </body>
  <%= javascript_tag 'application' %>  
</html>
